.fullscreen-btn {
    position: absolute;
    top: 90%; /* Adjust as needed */
    right: 8%; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.726); /* Semi-transparent background */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 100; /* Ensure it is above other elements */
    transition: background-color 0.3s;
}

.fullscreen-btn:hover {
    background-color: rgb(221, 220, 220); /* Darken on hover */
}   

.fullscreen-btn:h