.nav-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 2px; /* Set padding here */
    border: 0px solid transparent; /* Set border here */
    border-radius: 5px; /* Optional: Add rounded corners */
}

.nav-item:hover a {
    color: #007BFF;
    background-color: rgba(53, 53, 53, 0.5); /* Add black background with opacity */
}
